<!DOCTYPE html>
<html>
<head>
  <title>Inventory Apps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
        color: #666;
      }
      a {
 color:#9F3B19;
}

a:hover {
color: #333;
} 
      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
      aside h3 {
font-size: 18px;
line-height: 1.5em;
text-shadow: 0px 2px 3px #ddd;
}

#sidebar {
float: right;
overflow: hidden;
width: 280px;
margin-top: 20px;
}
aside ul {
list-style: square inside;
margin-bottom: 20px;
}
      footer {
margin-bottom: 20px;
clear:both;
}
h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
}
#footer-area {
border-top: 2px solid #9F3B19;
margin-top: -4px;
padding: 18px 0;
overflow: hidden;
}
.footer-segment {
float: left;
margin-right: 20px;
width: 210px;
}
    </style>
</head>
<body>
<div class="container">
 <header><!-- header -->
    <h2>Inventory App</h2>
     <%= image_tag('headerimg.jpg') %><!-- header image -->
  </header> 
<div class="masthead">

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><%= link_to "Home", home_index_path %></li>
					<li><%= link_to "Product", products_path %></li>
					<li><%= link_to "Sub Category", sub_categories_path %></li>
					<li><%= link_to "Categories", categories_path %></li>
					<li><%= link_to "About", home_about_path %></li>
					<li><%= link_to "Contact", home_contact_path %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% flash.each do |name, msg| %>
	<div class="alert alert-<%= name = :notice ? "success" : "error" %>">
		<a class="close" data-dismiss="alter">x</a>
		<%= msg %>
	</div>
<% end %>
<div class="row">
    <div class="span10"><%= yield %></div>
  </div>
<aside id="sidebar"><!-- sidebar -->
        <h3>Things To Do</h3>
          <ul>
            <li><a href="#">Play Games</a></li>
            <li><a href="#">Chat With Friends</a></li>
            <li><a href="#">Swap Stories</a></li>
            <li><a href="#">Sell Stuff</a></li>
            <li><a href="#">Buy Stuff</a></li>
            <li><a href="#">Trade Stuff</a></li>
          </ul>
          
        <h3>Our Sponsors</h3>
           <%= image_tag('ad125.jpg') %>  <%= image_tag('ad125.jpg') %><br />
           <%= image_tag('ad125.jpg') %>  <%= image_tag('ad125.jpg') %><br /><br />

        <h3>Connect With Us</h3>
          <ul>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ul>

    </aside><!-- end of sidebar -->
	
	<hr>
<footer>
    <section id="footer-area">

      <section id="footer-outer-block">
          <aside id="first" class="footer-segment">
              <h3>Blogroll</h3>
                <ul>
                  <li><a href="#">one linkylink</a></li>
                  <li><a href="#">two linkylinks</a></li>
                  <li><a href="#">three linkylinks</a></li>
                  <li><a href="#">four linkylinks</a></li>
                  <li><a href="#">five linkylinks</a></li>
                </ul>
          </aside><!-- end of #first footer segment -->

          <aside id="second" class="footer-segment">
              <h3>Awesome Stuff</h3>
                <ul>
                  <li><a href="#">one linkylink</a></li>
                  <li><a href="#">two linkylinks</a></li>
                  <li><a href="#">three linkylinks</a></li>
                  <li><a href="#">four linkylinks</a></li>
                  <li><a href="#">five linkylinks</a></li>
                </ul>
          </aside><!-- end of #second footer segment -->

          <aside id="third" class="footer-segment">
              <h3>Coolness</h3>
                <ul>
                  <li><a href="#">one linkylink</a></li>
                  <li><a href="#">two linkylinks</a></li>
                  <li><a href="#">three linkylinks</a></li>
                  <li><a href="#">four linkylinks</a></li>
                  <li><a href="#">five linkylinks</a></li>
                </ul>
          </aside><!-- end of #third footer segment -->
          
         

      </section><!-- end of #footer-outer-block -->

    </section><!-- end of #footer-area -->
  </footer>
</div>

</body>
</html>
